
//電腦1920以下
@mixin SCREEN_1441-1605{
	@media screen and (min-width: 1441px) and (max-width: 1605px) {
		@content;
	}
}
//電腦1024以上
@mixin SCREEN_1025-1440{
	@media screen and (min-width: 1025px) and (max-width: 1440px) {
		@content;	
	}
}
//電腦1024以上，但高度不足時
@mixin SCREEN_1025-1440-height625{
	@media screen and (min-width: 1025px) and (max-width: 1440px) and (max-height: 625px) {
		@content;	
	}
}
@mixin SCREEN_1366{
	@media screen and (max-width: 1366px) {
		@content;	
	}
}
@mixin SCREEN_1300{
	@media screen and (max-width: 1300px) {
		@content;	
	}
}
@mixin SCREEN_1280{
	@media screen and (max-width: 1280px) {
		@content;	
	}
}

//ipad
@mixin SCREEN_1024{
	@media screen and (max-width: 1024px) {
		@content;	
	}
}
//mobile
@mixin SCREEN_736{
	@media screen and (max-width: 736px) {
		@content;	
	}
}

@mixin text-hide { 
    white-space: nowrap; 
    text-indent: 200%;
    overflow: hidden;
}

@mixin boxSizingOriginal{
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}